body{
//	background-color: #0F2DA3;
}
h1{
	font-family: "Impact", serif;
}
p{
	font-family: "Helvetica", sans-serif;
}
.cont{
	padding: 30px;
	margin: 30px;
	background-color: #fa5041;
	color: #243cbf;
}

table{
	width: 100%;
	text-align: center;
	font-family: "Calibri", sans-serif;
}

.tab td{
	border: 3px solid #FFC40C;
	padding: 10px;
}
